{% extends 'base.html' %}

{%block title%}
Info Pakistan |
{%endblock title%}

{%block body%}
<div class="container">
<div class="card-body">
    <h4>Beauty of Pakistan</h4>
    <p class="card-text">Natural beauty is un matched. Pakistan have world most beautiful places for visit, specially at its best in northern areas of Pakistan and Kashmir region. This part of the country is famous all around the world because of sky high mountains, lush green valleys, mighty rivers, beautiful lakes, and amazing wildlife.</p>
    <h4>Best Places to visit Pakistan</h4>
    <h6>1.Swat Valley</h6>
    <h6>2.Boyun Village</h6>
    <h6>3.HUNZA VALLEY</h6>
    <h6>4.Passu Cones</h6>
    <h6>5.Attabad Lake</h6>
    <h6>6.YARKHUN VALLEY</h6>
    <h6>7.PHANDER LAKE</h6>
    <h6>8.BROGHIL VALLEY</h6>
    <h6>9.LAHORE</h6>
    <h6>10.HINGOL NATIONAL PARK</h6>
    
    <h4>Requirements to get visa of Pakistan</h4>
    <h5>Step 1: Preparation</h5>
    <p class="card-text">
        Please ensure that you are applying for the right visa as each visa has its own set of required documents. You must have the following on-hand before you begin your application:
        Complete set of supporting documents.
        Photograph up to 350KB captured as explained in the Photograph Tutorial.
        Valid Credit Card/Debit Card for online payment of your application fee.</p>
    <h5>Step 3: Online Application</h5>
    <p class="card-text">
    When you are ready to apply, follow the steps outlined below:
        
        Click on the Apply Now button to launch the Pakistan Online Visa System.
        Create a New Account.
        Login to the Pakistan Online Visa System.
        Complete your application.
        Pay Fee through a Credit Card/Debit Card.
        Submit your Application.
    </p>
</div>
</div>


{%endblock body%}
