{% extends 'base.html' %}

{%block title%}
Info UAE|
{%endblock title%}

{%block body%}
<div class="container">
<div class="card-body">
    <h4>Beauty of UAE</h4>
    <p class="card-text">The country offers most beautiful natural scenery, excellent seashore, and warm climate to the tourists. It is well linked to all the other major cities in the UAE emirate using well-constructed highways for the easy reach of the tourists.</h4>


    <h4>Best Places to visit in UAE</h4>
    <h6>1.Sharjah</h6>
    <h6>2.Abu Dhabi</h6>
    <h6>3.Ras al-Khaimah</h6>
    <h6>4.Fujairah</h6>
    <h6>5.Hatta City</h6>
    <h6>6.Ajman</h6>
    <h6>7.Umm al-Quwain</h6>
    <h6>8.Musandam</h6>
    <h6>9.Khor Fakkan</h6>
    <h6>10.Dibba Al-Hisn</h6>
    
    <h4>Requirements to get visa of UAE</h4>
    <p class="card-text">
        Hold a passport valid at least six months on entry with one blank visa page.
        Hold proof of sufficient funds.
        Hold proof of onward/return flights.
        Hold all documents required for the next destination.
        Confirm with their airline that boarding will be permitted without a visa.</p>
    
</div>
</div>


{%endblock body%}
